World (
	objects: [
		(labels : ["Yourself"],
		 description : "yourself",
		 location : "Command Center",
		 details : "You look down at yourself. What does it even mean to be human? You see green flight suit on your body, with a large tear in the front. A nametag on your breast pocket reads 'Browning', but whatever else used to be pinned there appears to have been ripped off.",
		 capacity : 25,
		),
		(labels : ["Command Center"],
		 description : "the command center",
		 details : "The command center makes a gentle humming noise. The only light comes from broken and static and blinking monitors all around you.",
		 capacity : 9999,
		),
		(labels : ["Armory"],
		 description : "the armory",
		 details : "The weapons room for the mining operation. Now laying empty and barren as if something had taken place to require use of every last weapon ...",
		 capacity : 9999,
		),
		(labels : ["Landing Pad"],
		 description : "the landing pad",
		 details : "A large open area used for smaller shuttles and important dignitaries who come to visit the mining operation.",
		 capacity : 9999, 
		),
		(labels : ["Old Photo","Photo","Picture"],
		 description : "an old picture of a family. They seem very familiar ...",
		 location : "Command Center",
		 details : "This picture appears worn, especially around the edges. There is an older woman, probably in her early fifties, with two younger children. One child looks a extremely recognizable.",
		 weight : 1,
		),
		(labels : ["Wrinkled Photo","Photo","Picture"],
		 description : "a wrinkled picture of a woman. She is crying",
		 location : "Copilot",
		 details : "This looks to be a picture of your co-pilot's dog. The name 'Willow' is scribbled on the back. It has seen better days.",
		 weight : 1,
		),
		(labels : ["the M41A Pulse Rifle","Rifle"],
		 description : "a single M41A Pulse Rifle with an ammo counter that says 56",
		 location : "Armory",
		 details : "The Armat M41A Pulse Rifle is a pulse-action assault rifle chambered for 10×24mm Caseless ammunition. It was notably employed by the United States Colonial Marine Corps and the United States Army as their primary infantry weapon during the late 22nd century.",
		 weight : 15,
		),
		(labels : ["Table"],
		 description : "a wooden table of standard height",
		 location : "Command Center",
		 details : "A vintage wooden 30 x 30 freestanding table with many coffee stain rings on it.",
		 weight : 45,
		),
		(labels : ["Copilot"],
		 description : "your copilot",
		 location : "Landing Pad",
		 details : "This person looks familiar, but you can't recall their name. They're wearing a flight suit much like your own, but in better condition.",
		 capacity : 20,
		 weight : 65,
		),
		(labels : ["Pen"],
		 description : "a pen",
		 location : "Copilot",
		 details : "An ordinary ballpoint pen. Made by BIC.",
		 weight : 1,
		),
		(labels : ["Tater","Tot","Tater Tot"],
		 description : "a cold tater tot",
		 location : "Pants",
		 details : "Tater tots are grated potatoes formed into small cylinders and deep-fried, often served as a side dish. You recall that they are delicious.",
		 weight : 1,
		),
		(labels : ["Pants","Camo Pants","Slacks","Trousers"],
		 description : "a pair of black, white and grey camouflaged pants",
		 location : "Armory",
		 details : "These streamlined cargo pants are made from a custom printed cotton-poly blend with an off-white, light and dark grey camouflage pattern. There are two cargo pockets on the thighs (and no other pockets for a slim fit). The high waist has no belt loops and the front closes with a brass zipper and internal hidden waist.",
		 weight : 2,
		),
		(labels : ["South"],
		 description : "a passage south to the armory",
		 location : "Command Center",
		 destination : "Armory",
		 details : "A dimly lit corridor leading to a door at the far end of the hallway.",
		 text_go : "You walk down the corridor, through the door, and into the armory.",
		),
		(labels : ["North"],
		 description : "a passage north to the comm center",
		 location : "Armory",
		 destination : "Command Center",
		 details : "A dimly lit corridor heading north back to the command center where you first woke up.",
		 text_go : "You walk back through the hallway to the Command Center.",
		),
		(labels : ["South", "landing pad"],
		 description : "a passage south to the landing pad",
		 location : "Armory",
		 destination : "Landing Pad",
		 details : "The door at the other side of the armory takes you out into a courtyard of sorts, which the landing pad is adjacent to.",
		 text_go : "You take the door into the courtyard and out to the landing pad.",
		),
		(labels : ["North", "armory"],
		 description : "a passage north to the armory",
		 location : "Landing Pad",
		 destination : "Armory",
		 details : "The courtyard near the landing pad has a door that will take you to the armory.",
		 text_go : "You walk across the courtyard to the door, and go inside the armory.",
		),
		(labels : ["North","East","West"],
		 description : "a bulkhead covered in blinking screens, switch-panels, gauges and communications technology",
		 location : "Command Center",
		 details : "The walls of the Command Center are covered in all manner of dials, switches, knobs, levers, video screens, gauges, and communications technologies.",
		 text_go : "The walls stop you from going any further in this direction.",
		),
		(labels : ["East","West"],
		 description : "an empty wall where many rifles were once stored and displayed",
		 location : "Armory",
		 details : "It looks as though many types of weapons were once kept here, as there are many different sorts of outlines on the walls where weapons once hung.",
		 text_go : "You cannot walk through these walls, nor is there a passageway behind them that you can see.",
		),
		(labels : ["South","East","West"],
		 description : "a large landing pad with a UD-4 'Cheyenne' Dropship nestled in the middle of it. The ramp is extended. Hopefully it flies",
		 location : "Landing Pad",
		 details : "The UD-4 'Cheyenne' Dropship sits in the center of a large landing pad. Someone in a flight suit, who you believe to be your co-pilot, stands near the ship.", 
		)
	]
)
