//
// Dave Land
//
// A text based adventure game by David Petnick
//
// Contains a vector of game objects that describe the game world
// Objects can have the following fields:
//      labels      : A list of names that can be used to refer to this object.
//                    The first label must be globally unique.
//                  : Vec<String>
//                  : Required
//                  : ["dave", "rules"]
//      description : A short description of the object. Appears to describe
//                    the object when using the 'look' command to see objects
//                    present in a location.
//                  : String
//                  : Required
//                  : "the armory"
//      location    : When present indicates that this is an object (or path)
//                    in the game. Lists the name of the location where this
//                    object is located. If present, must contain the name of
//                    an existing object in the game. If blank (""), or not
//                    present, the object is a location in the 'world.'
//                  : String
//                  : Required
//                  : "Armory"
//      destination : When present indicates that this object is a path from
//                    one game location to another. Contains the name of the
//                    location to which this path will move the player if
//                    followed. If present, must contain the name of an
//                    existing object in the game. Note that paths are one way
//                    if a two way passage is desired, two objects must be used
//                    to indicate each direction.
//                  : String
//                  : Required
//                  : "Command Center"

World (
	objects: [
		(labels : ["Yourself"],
		 description : "yourself",
		 location : "Command Center",
		 details : "You look down at yourself. What does it even mean to be human? You see a green flight suit on your body, with a large tear in the front. A nametag on your breast pocket reads 'Browning', but whatever else used to be pinned there appears to have been ripped off.",
		 capacity : 50,
		),
		(labels : ["Your Room"],
		 description : "your personal living space",
		 details : "These appear to be your living quarters aboard the USS Sulaco.",
		 capacity : 9999,
		),
		(labels : ["Command Center"],
		 description : "the command center",
		 details : "The command center makes a gentle humming noise. The only light comes from broken and static and blinking monitors all around you. There appear to be burns or scorch marks of some sort on two of the four walls of the room.",
		 capacity : 9999,
		),
		(labels : ["Armory"],
		 description : "the armory",
		 details : "This appears to be the armory. Now laying empty and barren as if something had taken place to require use of every last weapon ... As you scan the room, you notice some loose shells on the ground, two of which appear to have been spent. Meaning someone had fired their weapon here.",
		 capacity : 9999,
		),
		(labels : ["Landing Pad"],
		 description : "the landing pad",
		 details : "A large open area used for smaller shuttles and important dignitaries who come to visit the mining operation. Your dropship waits for you here.",
		 capacity : 9999, 
		),
		(labels : ["Sulaco Hanger"],
		 description : "the hanger of the Sulaco, high in orbit over LV-426",
		 details : "The USS Sulaco is currently orbiting LV-426. The shuttle has taken you to the hanger of the USS Sulaco. A huge grey room, that appears to have seen a battle very recently.",
		 capacity : 9999,
		),
		(labels : ["Sulaco Mess Hall"],
		 description : "the mess hall of the USS Sulaco",
		 details : "The USS Sulaco has a standard Mess Hall. It is a large white and tan room with many tables and food dispensers against one wall.",
		 capacity : 9999,
		),
		(labels : ["Sulaco Barracks"],
		 description : "the barracks on the USS Sulaco",
		 details : "The barracks on the USS Sulaco has 30 beds, and two walls completely covered in lockers.",
		 capacity : 9999,
		),
		(labels : ["Sulaco Main Corridor"],
		 description : "the main corridor of the USS Sulaco",
		 details : "The main corridor of the USS Sulaco is long and sleek.",
		 capacity : 9999,
		),
		(labels : ["Sulaco Laboratory"],
		 description : "the med lab on the USS Sulaco",
		 details : "The medical laboratory of the USS Sulaco is an enormous white room where I bet nothing weird happens.",
		 capacity : 9999,
		),
		(labels : ["Old Photo", "Photo", "Picture"],
		 description : "an old picture of a family. They seem very familiar ...",
		 location : "Command Center",
		 details : "This picture appears worn, especially around the edges. There is an older woman, probably in her early fifties, with two younger children.",
		 weight : 1,
		),
		(labels : ["Some Boxes", "Boxes", "Crates", "Cargo"],
		 description : "a few piles of boxes and industrial crates in the corner of the landing pad",
		 location : "Landing Pad",
		 details : "Several scattered piles of crates and boxes and other forms of cargo are littered about the landing pad.",
		 weight : 450,
		),
		(labels : ["Screen", "Monitor"],
		 description : "a cracked, blinking, and somewhat dim screen on the wall",
		 location : "Command Center",
		 details : "Upon further inspection the video monitor displays a lock screen that simply reads:\n\n\t\tLV-426\n\t\tATMOS TERRAFORMING COLONY\n\t\t12/05/2219\n\n\t\tPassword:_\n",
		 weight : 80,
		),
		(labels : ["Spent Casing", "Shells", "Casings"],
		 description : "several spent casings lying under a nearby bench",
		 location : "Armory",
		 details : "As you lean down and pick up one of the spent shell casings on the ground, you notice that it's a fired 12 gauge shell. Someone fired a shotgun in here, twice.",
		 weight: 1,
		),
		(labels : ["Wrinkled Photo", "Photo", "Picture"],
		 description : "a wrinkled picture of a dog. The dog is adorable",
		 location : "Pilot",
		 details : "This looks to be a picture of your pilot's dog. The name 'Willow' is scribbled on the back. The photograph itself has seen better days.",
		 weight : 1,
		),
		(labels : ["the M41A Pulse Rifle", "Rifle", "Pulse Rifle", "M41A", "M41"],
		 description : "a single M41A Pulse Rifle with an ammo counter that says 56",
		 location : "Armory",
		 details : "The Armat M41A Pulse Rifle is a pulse-action assault rifle chambered for 10x24mm Caseless ammunition. It was notably employed by the United States Colonial Marine Corps and the United States Army as their primary infantry weapon during the late 22nd century.",
		 weight : 10,
		),
		(labels : ["an Ithaca Model 37", "Shotgun", "Model 37", "Ithaca", "Ithaca Model 37", "37"],
		 description : "a single Ithaca Model 37 shotgun",
		 location : "Armory",
		 details : "The Ithaca Model 37 is an American-made pump-action shotgun chambered for 12 gauge cartridges. Designed in 1933 and first manufactured in 1937, the Model 37 utilizes a novel combination ejection/loading port on the bottom of the gun that leaves the sides of the weapon closed to the elements.",
		 weight : 7,
		),
		(labels : ["M56 Smart Gun", "Smart Gun", "M56", "Smartgun"],
		 description : "a single M56 Smart Gun, with reticulating combat harness and arm still attached",
		 location : "Armory",
		 details : "The M56 Smartgun is chambered in 10x28mm Caseless. A Rotating breech, electronic pulse action heavy machine gun that holds 500 rounds in a detachable drum magazine. It has a rate of fire of 1,200 rounds/min and a range of up to 1,500 meteres.",
		 weight : 40,
		),
		(labels : ["M240 Incinerator Unit", "M240 Flamethrower", "Incinerator Unit", "Incinerator", "Flamethrower"],
		 description : "a military-spec liquid-fueled M240 Flamethrower",
		 location : "Armory",
		 details : "The M240 Incinerator Unit, also known as the M240 Flamethrower and colloquially as the Bake-a-Flake, is a carbine-style flamethrower from the late 22nd century, employed by the United States Colonial Marine Corps. It has an effective range of 30 meters with a maximum range of 50 meters.",
		 weight : 6,
		),
		(labels : ["Heckler & Koch VP70", "VP70", "H&K", "H&K VP70", "Heckler and Koch", "Heckler and Koch VP70"],
		 description : "two H&K VP70s in 9x19mm, each with a full magazine",
		 location : "Armory",
		 details : "Designed in 1970, the Heckler & Koch VP70 is a polymer frame pistol chambered in 9x19mm, with an 18-round magazine. It is double action only, and capable of firing in semi-automatic or three-round bursts.",
		 weight : 2,
		),
		(labels : ["Smith & Wesson Model 39", "Model 39", "S&W", "S&W Model 39", "S&W 39", "39", "Smith"],
		 description : "one S&W Model 39 with ivory grips and a full magazine",
		 location : "Armory",
		 details : "The Smith & Wesson Model 39 is a semi-automatic pistol chambered in 9x19mm developed for the United States Army service pistol trials of 1954. It has an 8-round single stack magazine. The Model 39 was designed with an anodized aluminum frame, a curved backstrap and a blued carbon steel slide that carried the manual safety. This one appears to have custom ivory grips.",
		 weight : 2,
		),
		(labels : ["Table"],
		 description : "a wooden table of standard height",
		 location : "Command Center",
		 details : "A vintage wooden 30x30 freestanding table with many coffee stain rings on it.",
		 weight : 80,
		),
		(labels : ["Chair", "Seat"],
		 description : "a single wingback chair made of faux leather upholstery",
		 location : "Command Center",
		 details : "A chair sits next to the table, a modern interpretation of a classic wingback chair. Believed to be from England in the late 17th century, Wing chairs were once the perfect fireside chair option because they would trap in the warmth from the fire around one's head.",
		 weight : 60,
		),
		(labels : ["Pilot", "Edwin", "Ed"],
		 description : "your pilot",
		 location : "Landing Pad",
		 details : "Your pilot Edwin. He is wearing a flight suit a lot like your own, but in much better condition.",
		 capacity : 20,
		 weight : 180,
		),
		(labels : ["Pen"],
		 description : "a pen",
		 location : "Pilot",
		 details : "An ordinary ballpoint pen. Made by BIC.",
		 weight : 1,
		),
		(labels : ["Tater", "Tot", "Tater Tot"],
		 description : "a cold tater tot",
		 location : "Pants",
		 details : "Tater tots are grated potatoes formed into small cylinders and deep-fried, often served as a side dish. You recall that they are delicious.",
		 weight : 1,
		),
		(labels : ["Pants", "Camo Pants", "Slacks", "Trousers"],
		 description : "a pair of black, white and grey camouflaged pants",
		 location : "Armory",
		 details : "These streamlined cargo pants are made from a custom printed cotton-poly blend with an off-white, light and dark grey camouflage pattern. There are two cargo pockets on the thighs (and no other pockets for a slim fit). The high waist has no belt loops and the front closes with a brass zipper and internal hidden waist.",
		 weight : 1,
		),
		(labels : ["South", "Armory"],
		 description : "a passage south to the armory",
		 location : "Command Center",
		 destination : "Armory",
		 details : "A dimly lit corridor leading to a door at the far end of the hallway with a sign that says \"ARMORY\" above it.",
		 text_go : "You walk south down the corridor, through the door, and into the armory.",
		),
		(labels : ["North", "Command Center", "Comm Center"],
		 description : "a passage north to the comm center",
		 location : "Armory",
		 destination : "Command Center",
		 details : "A dimly lit corridor heading north back to the command center where you first woke up.",
		 text_go : "You walk north back through the hallway to the command center.",
		),
		(labels : ["South", "Landing Pad"],
		 description : "a passage south to the landing pad",
		 location : "Armory",
		 destination : "Landing Pad",
		 details : "The door at the other side of the armory takes you out into a courtyard of sorts, which the landing pad appears to be adjacent to.",
		 text_go : "You take the door south into the courtyard and out to the landing pad.",
		),
		(labels : ["North", "Armory"],
		 description : "a passage north to the armory",
		 location : "Landing Pad",
		 destination : "Armory",
		 details : "The courtyard near the landing pad has a door that will take you to the armory.",
		 text_go : "You walk across the courtyard to the door, and go inside the armory.",
		),
		(labels : ["North", "East", "West"],
		 description : "a bulkhead covered in blinking screens, switch-panels, gauges and communications technology",
		 location : "Command Center",
		 details : "The walls of the Command Center are covered in all manner of dials, switches, knobs, levers, video screens, gauges, and communications technologies.",
		 text_go : "A wall stops you from proceeding any further in this direction.",
		),
		(labels : ["East", "West", "Wall"],
		 description : "an empty pegboard wall where many rifles were once stored and displayed with empty weapon racks lining the bottom portion of it",
		 location : "Armory",
		 details : "It looks as though many types of weapons were once kept here as there are many different sorts of outlines on the walls where weapons obviously once hung.",
		 text_go : "You cannot walk through these walls, nor is there a passageway behind them that you can see.",
		),
		(labels : ["East", "West", "Pad"],
		 description : "a large landing pad with a UD-4 'Cheyenne' Dropship nestled in the middle of it with the ramp extended",
		 location : "Landing Pad",
		 details : "The UD-4 'Cheyenne' Dropship sits in the center of a large landing pad. Someone in a flight suit, who you believe to be your pilot, stands near the ship, holding a clipboard.",
		),
		(labels : ["South", "Sulaco Hanger", "Shuttle", "Dropship", "Ship"],
		 description : "the dropship waits, ready to take you to the USS Sulaco",
		 location : "Landing Pad",
		 destination : "Sulaco Hanger",
		 details : "The UD-4 'Cheyenne' Dropship sits waiting to take you up to the hanger of the USS Sulaco which is currently in orbit high above LV-426.",
		 text_go : "You take the drop shuttle up to the hanger of the USS Sulaco.",
		),
		(labels : ["North", "Landing Pad", "Shuttle", "Dropship", "Ship"],
		 description : "the dropship, which is able to take you back down to LV-426",
		 location : "Sulaco Hanger",
		 destination : "Landing Pad",
		 details : "The UD-4 'Cheyenne' Dropship sits waiting to take you back down to the terraforming colony on LV-426.",
		 text_go : "You take the dropship down to the landing pad at the Colony on LV-426."
		),
		(labels : ["East", "Sulaco Mess Hall", "Mess Hall"],
		 description : "a passage east to the mess hall of the Sulaco",
		 location : "Sulaco Hanger",
		 destination : "Sulaco Mess Hall",
		 details : "The eastern wall of the hanger has a small door that leads to the mess hall.",
		 text_go : "You take the door on the eastern side of the room into the mess hall of the USS Sulaco.",
		),
		(labels : ["North", "South", "East"],
		 description : "the mess hall has a number of tables, chairs, food machines and honey buns",
		 location : "Sulaco Mess Hall",
		 details : "The mess hall has 30 tables, all round, with roughly 6 seats per table. One wall is filled with food processing machines and windows for serving. Another wall is filled with delicious glazed honey buns on display.",
		 text_go : "You aren't able to go in those directions as the walls prevent you from proceeding further.",
		),
		(labels : ["West", "Sulaco Hanger", "Hanger"],
		 description : "a passage west back out into the hanger of the Sulaco",
		 location : "Sulaco Mess Hall",
		 destination : "Sulaco Hanger",
		 details : "The western wall of the mess hall has a small door that leads back to the hanger.",
		 text_go : "You take the door on the western side of the room back out into the hanger of the USS Sulaco.",
		),
		(labels : ["West", "Sulaco Barracks", "Barracks"],
		 description : "a passage west to the barracks on the Sulaco",
		 location : "Sulaco Hanger",
		 destination : "Sulaco Barracks",
		 details : "The western wall of the hanger has a passage that leads to the barracks.",
		 text_go : "You take the door on the western side of the room into the barracks of the USS Sulaco.",
		),
		(labels : ["North", "South", "West"],
		 description : "the barracks are a mess, there are personal items strewn about the room",
		 location : "Sulaco Barracks",
		 details : "The barracks seem to have been left in a hurry. There are boots without fellows, jackets, and other forms of equiptment lying around the room as though people left in a hurry.",
		 text_go : "The walls prevent you from proceeding further in that direction.",
		),
		(labels : ["East", "Sulaco Hanger", "Hanger"],
		 description : "a passage back east to the hanger on the Sulaco",
		 location : "Sulaco Barracks",
		 destination : "Sulaco Hanger",
		 details : "The eastern wall of the barracks goes back out to a passage that leads to the hanger.",
		 text_go : "You take the door on the eastern side of the room into the hanger of the USS Sulaco.",
		),
		(labels : ["South", "Sulaco Main Corridor", "Corridor", "Central Corridor", "Hallway"],
		 description : "a passage south that brings you into the central corridor of the USS Sulaco",
		 location : "Sulaco Hanger",
		 destination : "Sulaco Main Corridor",
		 details : "South leads to the central corridor of the USS Sulaco.",
		 text_go : "You go south into the main central corridor of the USS Sulaco.",
		),
		(labels : ["East", "Your Room", "Room", "My Room"],
		 description : "a door with your name on a placard to the left of it",
		 location : "Sulaco Main Corridor",
		 destination : "Your Room",
		 details : "These appear to be your quarters aboard the USS Sulaco.",
		 text_go : "You go east from the main corridor into your room.",
		),
		(labels : ["North", "South"],
		 description : "your room appears to have a bed in it, a locker with some personal items, and a small kitchen",
		 location : "Your Room",
		 details : "The northern side of the room seems to have your bed in it. While the southern side of the room appears to have a locker containing what you assume to be your personal effects.",
		 text_go : "You aren't able to go further in those directions as the walls prevent you from proceeding that way.",
		),
		(labels : ["East"],
		 description : "one wall has a corkboard on it with some lists and names and pictures",
		 location : "Your Room",
		 details : "The eastern side of the room has a large corkboard attached to the wall. There are pictures of people, mostly from your time in the military. But you also see many names and dates, connected by different colored strands of yarn.",
		 text_go : "You cannot go further in this direction as the wall prevents you from doing so.",
		),
		(labels : ["West", "Sulaco Main Corridor", "Corridor", "Central Corridor", "Hallway"],
		 description : "the door to your quarters",
		 location : "Your Room",
		 destination : "Sulaco Main Corridor",
		 details : "The only door in your room, leading back into the main corridor of the USS Sulaco.",
		 text_go : "You go west, back out into the main corridor.",
		),
		(labels : ["West", "Lab", "Med Lab", "Bio Lab", "Laboratory"],
		 description : "two sliding glass doors leading to what looks to be the medical lab",
		 location : "Sulaco Main Corridor",
		 destination : "Sulaco Laboratory",
		 details : "The two sliding glass doors lead to a decontamination area before bringing you to the Medical Laboratory of the USS Sulaco.",
		 text_go : "You go west from the main corridor into the laboratory.",
		),
		(labels : ["East", "Sulaco Main Corridor", "Corridor", "Central Corridor", "Hallway"],
		 description : "the twin sliding doors back to the main corridor",
		 location : "Sulaco Laboratory",
		 destination : "Sulaco Main Corridor",
		 details : "The only entrance to the Lab leads back into the main corridor of the Sulaco.",
		 text_go : "You go east, back out into the main corridor of the USS Sulaco.",
		),
	]
)
